<div class="logo">
    <a class="navbar-brand" href="/"><img src="/assets/imgs/Logo.png" alt="Your Logo" width="100px" /></a>
</div>
<form class="d-flex searchForm" role="search" action="/searchbar" method="GET">
    <input class="form-control me-2" type="search" placeholder="Search For Products" aria-label="Search" id="searchVal"
        value="{{query}}" name="query" />
    <button class="btn btn-primary headSearch" type="submit">Search</button>
</form>
{{! <div class="social-icons">
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
</div> }}
<nav class="nav-links">
    <a href="/admin/addProduct" class="btn btn-primary">Add Products</a>
    <a href="/admin/inventoryGrid" class="btn btn-primary">Product Manager</a>
    <a href="/admin/newUser" class="btn btn-primary">Create User</a>
    <a href="/" class="btn btn-primary">viewSite</a>
    <a href="#" class="btn btn-primary" id="logout">Logout</a>
</nav>

<script src="/assets/js/logout.js"></script>