<div class="logo">
    <a class="navbar-brand" href="/"><img src="/assets/imgs/Logo.png" alt="Your Logo" width="100px" /></a>
</div>

<nav class="nav-links">
    <a href="/" class="btn btn-primary">viewSite</a>
    <a href="/admin/slideshow" class="btn btn-primary">Slideshow</a>
    <a href="/admin/blogpostList" class="btn btn-primary">Blog Tool</a>
    <a href="/admin/metaData" class="btn btn-primary">MetaData Tool</a>
    <a href="/logout" class="btn btn-primary">Logout</a>
</nav>