<nav class="navbar navbar-dark bg-light navbar-expand-lg">
        <div class="container-fluid" style="display: flex; justfiy-content: space-evenly;">
            <div class="col-2 nav-logo"><a class="navbar-brand" href="/"><img src="assets/imgs/queue-logo-large.png" width="100%">  </a>
              
            </div>
            <button class="navbar-toggler" style="background-color: #df8327 !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarScroll" style="justify-content: space-evenly;">
            <div>
              
                <ul class="nav" style="display:flex; justify-content:center">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pricing">Prices</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                </ul>
            </div>
            <div class="">
                <ul class="nav ">
                  <li class="nav-item">
                    <a class="nav-phone" aria-current="page" href="tel:5172922786">(517) 292-2786</a>
                    <br>
                    <a href="mailto:support@queuedevelop.com"><i class="fa fa-envelope-o"></i> Support</a>
                  </li>
                </ul>
            </div>
           </div>
        </div>
    </nav>