<div>
    
    <div class="about-us-header">
        <div class="col-4 align-self-center">
            <h3>About Us</h3>
            <p>Queue-Development, Web Developers For Small Buisnesses</p>
        </div>

        <div class="col-4 align-self-center">
           <p>Contact us at <a href="mailto:abc@example.com">Email@email.com</a> to get started</p>
           <p>Or call us at <a href="tel:">(555)555-5555</a></p>

        </div>
    </div>


    <div class="about-us-paragraph">
        <p>
            At Queue-Development, we are passionate about crafting digital experiences that resonate and inspire. 
            With a dedicated team of talented developers, designers, and strategists, we specialize in creating custom web solutions tailored to meet your unique business needs. 
            Whether it's designing sleek and intuitive interfaces, building robust and scalable websites, or optimizing user experiences, we thrive on transforming ideas into reality. 
            Our commitment to innovation, creativity, and technical excellence ensures that we deliver cutting-edge solutions that elevate your online presence. 
            Partner with us to unlock the full potential of your digital journey and leave a lasting impact in the ever-evolving online landscape.
        </p>
        <p>
            Give us a call at <a href="tel:">(555)555-5555</a>
        </p>
    </div>

</div>


<script>
    document.getElementById('about').classList.add('active')
</script>