<div>
    <div>

        <div class="service-details-header">
            <div class="col-4 align-self-center">
                <h3>Email Features</h3>

            </div>

            <div class="col-4 align-self-center">
                <p><i class="fa fa-check-circle"></i> Branding</p>
                <p><i class="fa fa-check-circle"></i> Security</p>
                <p><i class="fa fa-check-circle"></i> Customer Trust</p>

            </div>
        </div>


        <div class="service-details-paragraph">
            <div class="col-5">
                <img src="/assets/imgs/Email-Service-photo.png" alt="Email-Features" width="100%" />
            </div>

            <div class="col-5 align-self-center">
                <p>
                    Using a company-branded email reinforces your brand identity with every interaction, making your
                    business more recognizable and memorable to clients and partners.
                    With a company email, you have control over your domain and email accounts. This allows you to
                    manage user access, set up different email aliases, and retain ownership of your communication
                    channels.
                    When customers receive emails from a company-branded address, it instills confidence and trust in
                    the legitimacy of the communication, reducing the likelihood of being perceived as spam.
                </p>
                <p>
                    You can see all Email Features in our packages <a href="/pricing">here</a>
                </p>
            </div>
        </div>

    </div>
</div>

<script>
    document.getElementById('emailfeatures').classList.add('active')
</script>