<div class="home-box">
    <div class="row">
        <div class="col-3 offset-1 product-left">
            <img src="assets/imgs/iptP4x.jpg" width="100%"/>
        </div>
        <div class="col-8 product-right">
            <div class="products">
                <ul>
                    <li class="product-item product-items-1"> 
                        <a class="product-button" href="#">
                            <div class="item-header">
                                <i class="fa fa-car"></i>
                                <h3>Text Example</h3>
                            </div>
                            <p class="item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum, delectus iusto eos ullam voluptate enim natus cupiditate, corrupti obcaecati rerum? Officiis sapiente facere commodi deserunt vero exercitationem ipsa quam.</p>
                        </a>
                    </li>
                    <li class="product-item product-items-2"> 
                        <a class="product-button" href="#">
                            <div class="item-header">
                                <i class="fa fa-car"></i>
                                <h3>Text Example</h3>
                            </div>
                            <p class="item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum, delectus iusto eos ullam voluptate enim natus cupiditate, corrupti obcaecati rerum? Officiis sapiente facere commodi deserunt vero exercitationem ipsa quam.</p>
                        </a>
                    </li>
                    <li class="product-item product-items-3"> 
                        <a class="product-button" href="#">
                            <div class="item-header">
                                <i class="fa fa-car"></i>
                                <h3>Text Example</h3>
                            </div>
                            <p class="item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum, delectus iusto eos ullam voluptate enim natus cupiditate, corrupti obcaecati rerum? Officiis sapiente facere commodi deserunt vero exercitationem ipsa quam.</p>
                        </a>
                    </li>
                    <li class="product-item product-items-4"> 
                        <a class="product-button" href="#">
                            <div class="item-header">
                                <i class="fa fa-car"></i>
                                <h3>Text Example</h3>
                            </div>
                            <p class="item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum, delectus iusto eos ullam voluptate enim natus cupiditate, corrupti obcaecati rerum? Officiis sapiente facere commodi deserunt vero exercitationem ipsa quam.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    







    <div class="home-about">
        <div>
            <div class="about-us-img">
                <img src="assets/imgs/about-us.png" width="100%" />
            </div>
            <div class="align-self-center center wrap about-us-text" style="">
                <h4>Who We Are</h4>
                <p>
                    At Queue-Development, we are passionate about crafting digital experiences that resonate and inspire. 
                    With a dedicated team of talented developers, designers, and strategists, we specialize in creating custom web solutions tailored to meet your unique business needs. 
                    Whether it's designing sleek and intuitive interfaces, building robust and scalable websites, or optimizing user experiences, we thrive on transforming ideas into reality. 
                    Our commitment to innovation, creativity, and technical excellence ensures that we deliver cutting-edge solutions that elevate your online presence. 
                    Partner with us to unlock the full potential of your digital journey and leave a lasting impact in the ever-evolving online landscape.</p>
                <div>
                    <a class="btn btn-lg btn-primary" href="/about">Learn More</a>
                    <a class="btn btn-lg btn-secondary" href="/contact">Contact</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="home-end-page" style="display: flex;">
        <div class="col-3 offset-1 q-flex-center">
            
        </div>
        <div class="col-3 offset-1 q-flex-center">

        </div>
        <div class="col-3 offset-1 q-flex-center">

        </div>
    </div>
</div>

<script>
    document.body.classList.add('home-body')
</script>