<div class="home-box">
    <div class="justify-content-space-between row" style="display: flex; flex-wrap: wrap;">
        <div class="col-8">
            <img src="assets/imgs/iptP4x.jpg" />
        </div>
        <div class="col-4 ">
            <div class="center vertical-center">
                <p >Here is some text regarding a contact us area</p>
            </div>
        </div>
    </div>
    <div class="home-about">
        <div style="height: 800px; width:100%; display: flex;" >
            <div class="align-self-center center" style="width: 40%;">
                <h4>Who We Are</h4>
                <p>This is the about us section</p>
                <div>
                    <button class="btn btn-lg btn-primary">Learn More</button>
                    <button class="btn btn-lg btn-secondary">Contact</button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="home-end-page" style="display: flex;">
        <div class="col-6">
            <div class="center">
                <h4>Industries we service</h4>
                <ul>
                    <li>Example 1</li>
                    <li>Example 2</li>
                    <li>Example 3</li>
                    <li>Example 4</li>
                    <li>Example 5</li>

                </ul>
            </div>
        </div>
        <div class="col-6" style="display: flex;">
            <div class="center align-self-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti fugiat porro hic aliquam numquam quaerat autem esse reiciendis nemo obcaecati, rem ut blanditiis a. Corrupti nulla voluptas quasi laudantium deserunt!</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.body.classList.add('home-body')
</script>