<div class="home-box">
    <div class="inside">
        <h2 style="color: white;">Quentin Hnilica</h2>
        <h3 style="color: white;">Queue-Dev</h5>
        <p style="color: white;">Quality sites, Quality coding.</p>
        <a class="btn btn-blue" onclick="changeLoc('about')">About Me</a>
        <a class="btn btn-purp" onclick="changeLoc('contact')">Lets Work!</a>
    </div>
</div>

<script>
    document.body.classList.add('home-body')
</script>