<div>
    <div>

        <div class="service-details-header">
            <div class="col-4 align-self-center">
                <h3>Website Hosting</h3>

            </div>

            <div class="col-4 align-self-center">
                <p><i class="fa fa-check-circle"></i> Performance Optimization</p>
                <p><i class="fa fa-check-circle"></i> Security Measures</p>
                <p><i class="fa fa-check-circle"></i> Backup and Recovery</p>

            </div>
        </div>


        <div class="service-details-paragraph">
            <div class="col-5">
                <img src="/assets/imgs/Hosting-Service-photo.png" alt="Hosting-Features" width="100%" />
            </div>

            <div class="col-5 align-self-center">
                <p>
                    At Queue-Development, we optimize server performance, speed, and bandwidth to ensure your website
                    loads quickly, providing a better user experience for visitors.
                    We implement robust security measures, including firewalls, regular backups, and malware scanning,
                    to protect your website from cyber threats and data loss.
                    In order to ensure a smooth update process we regularly backup your website data, offering a layer
                    of protection against data loss.
                </p>
                <p>
                    You can see all Email Features in our packages <a href="/pricing">here</a>
                </p>
            </div>
        </div>

    </div>
</div>

<script>
    document.getElementById('hostingfeatures').classList.add('active')
</script>