<div class="container forOfor">
        <h1>404</h1>
        <p>Oops! The page you're looking for doesn't exist.</p>
        <p>You will be redirected to the <a href="/">homepage</a> shortly.</p>
</div>

 <script>
        setTimeout(function(){
            window.location.href = '/'; // Replace '/' with your homepage URL if needed
        }, 2000);
    </script>

