<div class="min-h-screen container mx-auto my-10">
  <div class="grid grid-cols-2 grid-rows-1 gap-10">
    <!-- First Article -->
    <article
      class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg"
    >
      <div class="relative">
        <h1 class="mt-4 ml-4 text-2xl text-white absolute">Rag Frog Revival</h1>
        <a href="/">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            class="h-60 w-full object-cover"
          />
        </a>
      </div>

      <div class="bg-white p-4">
        <p class="text-sm text-gray-500">
          At Rag Frog Revival, we breathe new life into pre-loved textiles,
          turning discarded clothing, linens, and fabrics into unique,
          eco-friendly fashion and home goods.
        </p>
        <a href="#" class="mt-2 inline-block">
          <h3 class="text-lg text-gray-900">Visit Rag Frog Rival</h3>
        </a>
      </div>
    </article>

    <!-- Second Article -->
    <article
      class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg"
    >
      <div class="relative">
        <h1 class="mt-4 ml-4 text-2xl text-white absolute">Splyr</h1>
        <a href="#">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            class="h-60 w-full object-cover"
          />
        </a>
      </div>

      <div class="bg-white p-4">
        <p class="text-sm text-gray-500">
          Splyr specializes in connecting businesses with high-quality
          manufacturers and suppliers across international markets.
        </p>
        <a href="#" class="mt-2 inline-block">
          <h3 class="text-lg text-gray-900">Visit Splyr</h3>
        </a>
      </div>
    </article>
  </div>
</div>