<div class="pricing-main">
    <div class="pricing-header">
        <h3>Low Prices. No Hidden fees.</h3>
        <br />
        <p>All plans come with a 30 day money-back guarantee</p>
    </div>
    <div class="price-block">
        <div class="price-container">
            <h4>Starter</h4>
            <p>$50/mo</p>
            <p>starting fees may apply</p>
            <p>custom website</p>
            <p>up to 15 unique pages</p>
            <p>10 update requests per month</p>
            <p>Unlimited vists each month!</p>
            <button type="button" class="btn btn-primary">Choose</button>
        </div>
        <div class="price-container">
            <h4>Starter</h4>
            <p>$50/mo</p>
            <p>starting fees may apply</p>
            <p>custom website</p>
            <p>up to 15 unique pages</p>
            <p>10 update requests per month</p>
            <p>Unlimited vists each month!</p>
            <button type="button" class="btn btn-primary">Choose</button>
        </div>
        <div class="price-container">
            <h4>Starter</h4>
            <p>$50/mo</p>
            <p>starting fees may apply</p>
            <p>custom website</p>
            <p>up to 15 unique pages</p>
            <p>10 update requests per month</p>
            <p>Unlimited vists each month!</p>
            <button type="button" class="btn btn-primary">Choose</button>
        </div>
    </div>
    <div class="pricing-contact">
        <div class="price-contact-text">

        </div>
        <div class="price-contact-buttons">

        </div>
    </div>
</div>


<script>
    document.getElementById('pricing').classList.add('active')
</script>