<div class="pricing-main">
    <div class="pricing-header">
        <h3>Low Prices. No Hidden fees.</h3>
        <br />
        <p>All plans come with a 30 day money-back guarantee</p>
    </div>
    <div class="price-block">
        <div class="price-container">
            <h4>Starter</h4>
            <p>$50/mo</p>
            <p>starting fees may apply</p>
            <p>custom website</p>
            <p>up to 15 unique pages</p>
            <p>10 update requests per month</p>
            <p>Unlimited vists each month!</p>
            <button type="button" class="btn btn-primary">Choose</button>
        </div>
        <div class="price-container mid-price">
            <h4>Starter</h4>
            <p>$50/mo</p>
            <p>starting fees may apply</p>
            <p>custom website</p>
            <p>up to 15 unique pages</p>
            <p>10 update requests per month</p>
            <p>Unlimited vists each month!</p>
            <button type="button" class="btn btn-primary">Choose</button>
        </div>
        <div class="price-container">
            <h4>Starter</h4>
            <p>$50/mo</p>
            <p>starting fees may apply</p>
            <p>custom website</p>
            <p>up to 15 unique pages</p>
            <p>10 update requests per month</p>
            <p>Unlimited vists each month!</p>
            <button type="button" class="btn btn-primary">Choose</button>
        </div>
    </div>
    <div class="pricing-contact">
        <div class="price-contact-text">

        </div>
        <div class="price-contact-buttons">

        </div>
    </div>
    <section id="price-compare">
    <div class="container">
		<div class="row middle">
			<div class="cell-1 col-12">
				<table>
					<thead>
						<tr>
							<th><h2>Plan Features</h2></th>
							<th>
								<span class="queue-svg-icon hexagon-dot-2" style="-webkit-mask-image: url(https://queue.cloud/assets/icons/hexagon-dot-2.svg); mask-image: url(https://queue.cloud/assets/icons/hexagon-dot-2.svg);"></span>								Starter
								<div class="price">
									$149/mo
								</div>
							</th>
							<th>
								<span class="queue-svg-icon box-2" style="-webkit-mask-image: url(https://queue.cloud/assets/icons/box-2.svg); mask-image: url(https://queue.cloud/assets/icons/box-2.svg);"></span>								Standard
								<div class="price">
									$199/mo
								</div>
							</th>
							<th>
								<span class="queue-svg-icon hexagon-swirl-2" style="-webkit-mask-image: url(https://queue.cloud/assets/icons/hexagon-swirl-2.svg); mask-image: url(https://queue.cloud/assets/icons/hexagon-swirl-2.svg);"></span>								Premium
								<div class="price">
									$249/mo
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="header">
							<th>
								Website Features
							</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<td>Professionally Designed Custom Website</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Number of Pages</td>
							<td>15</td>
							<td>25</td>
							<td>30</td>
						</tr>
						<tr>
							<td>Included Stock Images</td>
							<td>16</td>
							<td>24</td>
							<td>36</td>
						</tr>
						<tr>
							<td>Collaborative Copywriting Process</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Mobile Optimized (Responsive Design)</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Custom Contact Forms</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Google Maps Support</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr class="header">
							<th>
								Support Features
							</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<td>Content Update Requests (per month)</td>
							<td>5</td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
						</tr>
						<tr>
							<td>Dedicated Account Manager</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Phone Support (M-F 9am-8pm Eastern)</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Email Support</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>


                        <tr class="header">
							<th>Email Features</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<td>Email Accounts</td>
							<td>15</td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
						</tr>
                        <tr>
							<td>Email Autoresponders</td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
						</tr>
						<tr>
							<td>Mailing Lists</td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
						</tr>
						<tr>
							<td>Domain Keys</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Webmail</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
                        <tr>
							<td>SpamAssassin</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>CSV Import (email & Forwarders)</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>




						<tr class="header">
							<th>Search Optimization Features (SEO)</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<td>Submission to Search Engines (Google, Bing, Yahoo, DuckDuckGo)</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Google Search Console &amp; Bing Webmaster Tools Setup</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td>+<i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Optimized Site Structure &amp; URLs</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>XML Sitemaps</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Structured Data Markup</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Keyword Research</td>
							<td>-</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Content Optimization (On-site SEO)</td>
							<td>-</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr class="header">
							<th>Web Hosting Features</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<td>
								Fully Managed Hosting by Queue-Development
							</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Visitors </td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
							<td><strong class="highlight">unlimited</strong></td>
						</tr>
						<tr>
							<td>Storage</td>
							<td>10GB</td>
							<td>20GB</td>
							<td><strong class="highlight">90GB</strong></td>
						</tr>
						<tr>
							<td>Domain Name Regisrations (.com, .net, .org, and more)</td>
							<td>1</td>
							<td>2</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Image Manager</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Hotlink Protection</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>SSL Security Certificate (HTTPS)</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Advanced Page Caching</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Global Content Distribution Network (CDN)</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Virus Scanner</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Automatic Software Updates</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Uptime Monitoring</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Automated Performance Testing</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Automated Accessibility Testing</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Privacy-Friendly Visitor Analytics</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td></td>
							<td>
								<a href="/contact" class="btn btn-primary btn-md">Get Started</a>
							</td>
							<td>
								<a href="/contact" class="btn btn-primary btn-md">Get Started</a>
							</td>
							<td>
								<a href="/contact" class="btn btn-primary btn-md">Get Started</a>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="disclaimers">
					<div class="disclaimer">
						† Content Update Request turnaround times are based on business hours Monday-Friday: 9am to 5pm ET
					</div>
				</div>

			</div>
		</div>
	</div>
    </section>
</div>


<script>
    document.getElementById('pricing').classList.add('active')
</script>