<div>

    <div class="service-details-header">
        <div class="col-4 align-self-center">
            <h3>Search Engine Optimization</h3>

        </div>

        <div class="col-4 align-self-center">
            <p><i class="fa fa-check-circle"></i> Traffic Quality Improvement</p>
            <p><i class="fa fa-check-circle"></i> Increased Visibility</p>
            <p><i class="fa fa-check-circle"></i> Credibility and Trust</p>

        </div>
    </div>


    <div class="service-details-paragraph">
        <div class="col-5">
            <img src="/assets/imgs/SEO-Service-photo.png" alt="SEO" width="100%" />
        </div>

        <div class="col-5 align-self-center">
            <p>
                SEO helps your website rank higher in search engine results, making it more likely for users to find and
                visit your site.
                By optimizing for relevant keywords, SEO attracts users actively searching for information related to
                your business, resulting in higher-quality traffic.
                Furthermore, local SEO strategies can help businesses appear in local search results, attracting nearby
                customers and driving foot traffic.
            </p>
            <p>
                You can see all SEO Features in our packages <a href="/pricing">here</a>
            </p>
        </div>
    </div>

</div>
<script>
    document.getElementById('seofeatures').classList.add('active')
</script>