<div>
    <div class="service-header">
        <h2>Services We Offer</h2>
    </div>

    <div class="service-body">

        <div class="about-service">

        </div>

        <div class="service-flex">
            <div class="col-1"><i class="fa fa-mobile"></i></div>
            <div class="col-3 service-title ">
                <a href="/web-features" class="align-self-center">Responsive Websites</a>
            </div>

            <div class="col-5 service-text">
                Our responsive designs ensure a flawless user experience, allowing your audience to engage with your content effortlessly whether they're on a desktop, tablet, or smartphone.
            </div>
            
        </div>
        <div class="service-flex service-even">
            <div class="col-1"><i class="fa fa-gears"></i></div>
            <div class="col-3 service-title ">
                <a href="/seo" class="align-self-center">SEO</a>
            </div>

            <div class="col-5 service-text">
                Our SEO strategies are tailored to boost your website's rankings, driving organic traffic and ensuring your business stands out in the digital landscape, so you can reach and connect with your target audience effectively.
            </div>
            
        </div>
        <div class="service-flex">
            <div class="col-1"><i class="fa fa-send"></i></div>
            <div class="col-3 service-title ">
                <a href="/email-features" class="align-self-center">Email Featues</a>
            </div>

            <div class="col-5 service-text">
                Our email packages allow you to get a tailored email address registered with your domain. Keep your online presence unified and organized.
            </div>
            
        </div>
        <div class="service-flex service-even">
            <div class="col-1"><i class="fa fa-server"></i></div>
            <div class="col-3 service-title ">
                <a href="/hosting" class="align-self-center">Hosting</a>
            </div>

            <div class="col-5 service-text">
                Get the most out of your website with our unlimited banwidth regardless of the package you select. All packages give you enough space to add whatever is required to customize to your liking.
            </div>
            
        </div>
    </div>

    <div class="service-footer">
        <h3>And More!</h3>
        <p>
            Give us a call at <a href="tel:">(555)555-5555</a> to discover more about our services and how we can meet your needs. Our friendly team is ready to provide you with detailed information and answer any questions you may have!
        </p>
    </div>
    
</div>



<script>
    document.getElementById('services').classList.add('active')
</script>