<div>
    <div class="service-header">
        <h2>Service We Offer</h2>
    </div>

    <div class="service-body">

        <div class="about-service">

        </div>

        <div class="service-flex">
            <div class="col-3 service-title ">
                <a href="#" class="align-self-center">Website Design</a>
            </div>

            <div class="col-5 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, numquam quam voluptatem, deleniti doloribus officiis unde aliquam fugiat, debitis animi exercitationem fuga sed voluptatibus neque optio aperiam iure delectus. Error.
            </div>
            
        </div>
        <div class="service-flex">
            <div class="col-3 service-title ">
                <a href="#" class="align-self-center">Website Design</a>
            </div>

            <div class="col-5 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, numquam quam voluptatem, deleniti doloribus officiis unde aliquam fugiat, debitis animi exercitationem fuga sed voluptatibus neque optio aperiam iure delectus. Error.
            </div>
            
        </div>
        <div class="service-flex">
            <div class="col-3 service-title ">
                <a href="#" class="align-self-center">Website Design</a>
            </div>

            <div class="col-5 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, numquam quam voluptatem, deleniti doloribus officiis unde aliquam fugiat, debitis animi exercitationem fuga sed voluptatibus neque optio aperiam iure delectus. Error.
            </div>
            
        </div>
        <div class="service-flex">
            <div class="col-3 service-title ">
                <a href="#" class="align-self-center">Website Design</a>
            </div>

            <div class="col-5 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, numquam quam voluptatem, deleniti doloribus officiis unde aliquam fugiat, debitis animi exercitationem fuga sed voluptatibus neque optio aperiam iure delectus. Error.
            </div>
            
        </div>
    </div>

    <div class="service-footer">
        <h2>And More!</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni id nobis sequi quidem quis, vel, iste modi asperiores quas unde quasi? Debitis sequi esse commodi. Harum amet dolore placeat alias!</p>
    </div>
    
</div>



<script>
    document.getElementById('services').classList.add('active')
</script>