<div class="disclosure-container">
    <h1>Terms and Conditions</h1>
    <p><strong>Effective Date:</strong> Nov 1st, 2024</p>

    <p>Welcome to the digital storefront of <strong>Rag Frog Revival</strong></p>

    <h2>Introduction</h2>
    <p>These Terms of Use (the “Terms”) govern each website, mobile site, application, and/or other service (each a
        “Service” and collectively “Services”) that links to these Terms, which is binding on all individuals and
        entities that access, visit, and/or use the Services, whether acting as an individual or on behalf of an entity,
        including those using processes to harvest, crawl, index, scrape, spider, or mine digital content by automated
        or manual process or otherwise (collectively, “you” or “your”).</p>

        <p>The Terms may be modified at any time by us upon posting of the modified Terms. Any such modifications shall be
        effective immediately. Accordingly, you should review the Terms periodically to determine if any changes have
        been made. By using the Services, you accept any changes and revisions to the Terms. If you do not agree with
        the Terms, or if you violate or act inconsistently with them or any other applicable terms, your access to and
        use of the Services is unauthorized. We reserve the right to terminate, suspend, or restrict your access to the
        Services and refuse to fulfill any obligations under the Term, with or without notice. Additionally, we may deny
        you future access to the Services. We reserve the right to take any technical, legal, or other measures
        necessary to prevent violations and enforce the Terms, with or without notice. This may include cooperating with
        law enforcement agencies and pursuing civil or criminal actions for any illegal activities involving the
        Services.</p>

    <h3>Ownership</h3>
    <p>All information, text, images, video, audio, material, software, products or services (“Content”) included in the
        Services are and shall continue to be the property of either Queue-Development LLC. or Rag Frog Revival
        (together, the “Site Owners,” and each a “Site Owner”) or their content suppliers, and is protected under
        applicable copyright, patent, trademark, and other proprietary rights. Product and company names mentioned in
        the Services may be trademarks of their respective owners. The text, information, images, audio, video, and all
        other content in the Services including the selection, compilation, arrangement, presentation of all materials,
        and the overall design are protected by copyright. Information, images, logos, copy and trademarks contained in
        the Services, including but not limited to the text, images, audio, or video, may not be used in any manner, or
        for any purpose, without the applicable Site Owner’s express written permission.</p>

    <h3>Site Use</h3>
    <p>The Site Owners jointly grant you a limited, revocable, and nonexclusive permission to view and use the Services
        and to print individual pages from this website for your own personal, noncommercial use, provided that you
        agree to and accept without modification the notices, terms and conditions set form herein. Your use of the
        Services is at the sole discretion of the Site Owners and any Site Owner may terminate your use at any time.
        Under no circumstances will you acquire any ownership rights or other interest in any content by or through your
        use of the Services.</p>

        <p>Whether on behalf of yourself or another third party, you may NOT do any of the following in connection with the
        Services and Contents:</p>
    <ul>
        <li>modify, duplicate, adapt, translate, distribute, redistribute, transmit, display, perform, reproduce,
            publish, license, create derivative works from, transfer, sell, or otherwise exploit any Content or any part
            thereof, for any purpose (including commercial purpose) except those expressly authorized in these Terms
            without Queue-Development LLC's express written consent.</li>
        <li>Except as provided in these Terms, download, copy, or transmit any Content for the benefit of any third
            party without the express written consent of Queue-Development LLC's</li>
        <li>Interfere with or disrupt the operation of the Services or the systems, networks, or servers used to make
            the Services available, including by hacking or defacing any portion of the Services; or violate any
            procedure, policy, or requirements of such servers or networks</li>
        <li>Use any robot, spider, site search/retrieval application or other manual or automatic devices to access,
            modify, download, retrieve, index, query, “scrape,” “data mine” or otherwise collect or gather any Content,
            or reproduce or circumvent the navigational structure or presentation of the Services, without
            Queue-Development LLC's express prior written consent.</li>
        <li>Make any commercial, advertising, promotional, or marketing use of the Services and/or Content, except as
            permitted by law or as expressly permitted in writing by Queue-Development LLC's</li>
    </ul>

    <h3>Compliance with Laws</h3>
    <p>You agree to comply with all applicable laws regarding your use of the Services and any purchase you make. You
        further agree that information provided by you is truthful and accurate to the best of your knowledge.</p>

    <h2>Third Party Sites</h2>
    <p>The Services may contain links to other web sites on the Internet that are owned and operated by third party
        vendors and other third parties (“External Sites”). Additionally, when you use the Services, you may also be
        using the services of third parties and you acknowledge that your use of those services may be subject to
        separate terms of use. We have no responsibility for content of these third party sites and therefore do not
        represent, warrant, or endorse that the contents of such third party sites are available, accurate, complete, or
        compliant with applicable laws. By using any third party site, you acknowledge and agree that we are not
        responsible for any aspect of such third party site. You should contact the site administrator or webmaster for
        those third party sites if you have any concerns regarding such links or the content located on those sites.</p>


    <h2>Indemnification</h2>
    <p>You agree to indemnify, defend and hold the Site Owners and their partners, agents, employees, and affiliates,
        harmless from any liability, loss, claim and expense, including reasonable attorney's fees, related to your
        violation of these Terms or use of the Services.</p>


    <h2>Disclaimer</h2>
    <p>THE INFORMATION IN THE SERVICES IS PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS. YOU AGREE THAT USE OF THE
        SERVICES IS AT YOUR SOLE RISK. THE SITE OWNERS DISCLAIM ALL WARRANTIES OF ANY KIND, INCLUDING BUT NOT LIMITED TO
        ANY EXPRESS WARRANTIES, STATUTORY WARRANTIES, AND ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR PURPOSE, AND NON-INFRINGEMENT. TO THE EXTENT YOUR JURISDICTION DOES NOT ALLOW LIMITATIONS ON
        WARRANTIES, THIS LIMITATION MAY NOT APPLY TO YOU. YOUR SOLE AND EXCLUSIVE REMEDY RELATING TO YOUR USE OF THE
        SERVICES SHALL BE TO DISCONTINUE USING THE SERVICES.</p>

    <h2>Limitation of Liability</h2>
    <p>UNDER NO CIRCUMSTANCES WILL THE SITE OWNERS BE LIABLE OR RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
        CONSEQUENTIAL (INCLUDING DAMAGES FROM LOSS OF BUSINESS, LOST PROFITS, LITIGATION, OR THE LIKE), SPECIAL,
        EXEMPLARY, PUNITIVE, OR OTHER DAMAGES, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN ANY WAY RELATING TO THE
        SERVICES, YOUR SERVICES USE, OR THE CONTENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE
        REMEDY FOR DISSATISFACTION WITH THE SERVICES AND/OR CONTENT IS TO CEASE ALL OF YOUR SERVICES USE.</p>
    <p>Price and availability information is subject to change without notice. The Site Owners shall not be required or
        obligated to honor any price if said price is incorrect or inaccurate, regardless of whether the information was
        entered by any Site Owner.</p>
    <p>You may have additional rights under certain laws (including consumer laws) which do not allow the exclusion of
        implied warranties, or the exclusion or limitation of certain damages. If these laws apply to you, the
        exclusions or limitations in these Terms that directly conflict with such laws may not apply to you.</p>

    <h2>Use of Information</h2>
    <p>The Site Owners reserve the right, and you authorize them, to use and assign all information regarding Service
        uses by you and all information provided by you in any manner consistent with our Privacy Policy.</p>


    <h2>Intended Audience</h2>
    <p>This website is intended for adults only. This website is not intended for any children under the age of 13.</p>
    <h2>Privacy</h2>
    <p>Your use of our Services is also governed by our Privacy Policy. If you are a resident of California, you have
        specific rights under the California Consumer Privacy Act (CCPA). For more information on your rights and how we
        handle your personal information, please review our Privacy Policy.</p>
    <h2>Promotions</h2>
    <p>Any sweepstakes, contexts, raffles, surveys, games, or similar promotions made available through this website may
        be governed by rules that are separate from these Terms. If the rules for a promotion conflict with these Terms,
        the promotion rules will govern.</p>
    <h2>Acceptances of Orders</h2>
    <p>The receipt of an e-mail order confirmation or reservation of a part, garment, accessory, or unit does not
        constitute the acceptance of an order or a confirmation of an offer to sell. Rag Frog Revival reserves the
        right, without prior notification, to limit the order quantity on any item and/or refuse service to any
        customer. Rag Frog Revival may cancel an order at any time before delivery or pickup for any reason, including
        pricing errors or stock availability issues. Verification of information may be required prior to the acceptance
        of any order. By placing a credit card order, you grants Rag Frog Revival permission to contact your bank to
        verify name and address. Please contact us directly for questions about our refund policy.</p>

    <h2>Governing Law.</h2>
    <p>You agree that the laws of the state of Delaware, without regard to conflicts of laws provisions will govern
        these Terms and any dispute that may arise between you and Site Owners or their affiliates.</p>


    <h2>Pricing, Availability, Taxes, and Surcharges</h2>
    <p>All prices are subject to change without notice. Prices do not include applicable taxes, shipping, and handling
        charges, which may be calculated and added at checkout. Prices may vary based on location due to different tax
        rates and surcharges. You are responsible for paying all applicable sales, use, value-added, and other taxes,
        duties, and charges associated with your purchase. These charges will be calculated and displayed at checkout
        and may be based on our location or your delivery address. Additional surcharges may apply depending on your
        location, and these will also be shown at checkout.</p>
    <h2>Communication</h2>
    <p>You agree that by providing your phone number, Rag Frog Revival may call and/or send text messages about your
        interest in products, merchandise, financing, marketing or sales purposes, appointment information, or for any
        other purpose related to your account. You do not have to consent to receiving calls or texts to purchase from
        Rag Frog Revival.</p>

    <h2>Copyrights and Copyright Agent</h2>
    <p>If you believe your work has been copied in a way that constitutes copyright infringement, or your intellectual
        property rights have otherwise been violated, please provide a notice containing all of the following
        information to our Copyright Agent:</p>
    <ul>
        <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright
            or other intellectual property interest;</li>
        <li>A description of the copyrighted work that you claim has been infringed</li>
        <li>A description of where the material that you claim is infringing is located on this website</li>
        <li>Your address, telephone number, and e-mail address</li>
        <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the
            copyright owner, its agent, or the law; and</li>
        <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and
            that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
    </ul>
    <p>Claims of copyright infringement on this website can be sent as follows:</p>
    <p>By E-mail: support@queuedevelop.com</p>

    <h2>Other Terms</h2>
    <p>If any provision of these Terms shall be adjudged by any court of competent jurisdiction to be unenforceable or
        invalid, that provision shall be limited or eliminated to the minimum extent necessary so that these Terms will
        otherwise remain in full force and effect. The failure of the Site Owners to exercise or enforce any right or
        provision of the Terms shall not operate as a waiver of such right or provision. Any waiver of the Terms by
        Queue-Development LLC's or Rag Frog Revival must be in writing and signed by an authorized representative of the
        respective Site Owner. Nothing contained in the Terms or your use of the Services shall be construed to
        constitute either party as a partner, joint venturer, employee or agent of the other party, nor shall either
        party hold itself out as such. Neither party has any right or authority to incur, assume or create, in writing
        or otherwise, any warranty, liability or other obligation of any kind, express or implied, in the name of or on
        behalf of the other party, it being intended by both parties that each shall remain independent contractors
        responsible for its own actions. These Terms constitutes the entire agreement between you and the Site Owners
        governing your use of the Services, and supersedes all prior or contemporaneous communications and proposals,
        whether electronic, oral or written, between you and the Site Owners with respect to the Services.
        Notwithstanding the</p>


    <p>Last updated Novemenber 2024</p>
</div>