<div>
    <div>
    
    <div class="service-details-header">
        <div class="col-4 align-self-center">
            <h3>Responsive Websites</h3>
            
        </div>

        <div class="col-4 align-self-center">
           <p><i class="fa fa-check-circle"></i> Cross-Device Compatibility</p>
           <p><i class="fa fa-check-circle"></i> Improved User Experience</p>
           <p><i class="fa fa-check-circle"></i> Faster Page Loading</p>

        </div>
    </div>


    <div class="service-details-paragraph">
        <div class="col-5">
            <img src="/assets/imgs/Responsive-Service-photo.png" alt="Responsive-Websites" width="100%"/>
        </div>
        
        <div class="col-5 align-self-center">
            <p>
                Our responsive design enhances user experience by providing easy navigation, readable text, and optimized images regardless of the device used, resulting in higher user satisfaction.
                A responsive website adapts to various screen sizes, ensuring a consistent and user-friendly experience across devices such as desktops, laptops, tablets, and smartphones.
                Our websites are designed to load quickly on all devices, contributing to a positive user experience and potentially improving search engine rankings as site speed is a ranking factor.
            </p>
            <p>
                You can see all Email Features in our packages <a href="/pricing">here</a>
            </p>
        </div>
    </div>

</div>
</div>

<script>
    document.getElementById('webfeatures').classList.add('active')
</script>