.pricing-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    background-image: url('/assets/imgs/real-home-back-2.png');
    color:white;

    padding-top: 2%;
    padding-bottom: 2%;
}
.pricing-header h3 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--text-primary);
}
.pricing-main{
    padding-left: 10%;
    padding-right: 10%;
}
.price-block{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2%;
    text-align: center;
}
.price-container{
    border: 2px solid black;
    padding: auto;
    width: 33%;
    border-radius: 2%;
    padding-bottom: 2%;

    
}

.price-container h5{
    font-size: 52px;
    color: var(--text-primary);
    font-weight: bolder;
}



@media (max-width: 767px) {
    .price-container{
        width: 100%;
    }
    section#price-compare thead th {
        position: sticky;
        top: 0px !important;
        z-index: 5;
        background-color: #fff
    }
}
.mid-price{
    background-color: lightgray;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
    border-color: gray;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}
section#price-compare {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.plans-compare{
    text-align: center;
    width:200px;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

@media screen and (max-width: 959px) {
    section#faq {
        padding-top:2rem;
        padding-bottom: 2rem
    }

    section#faq .faq-footer {
        margin-top: 1rem
    }
}

@media screen and (max-width: 767px) {
    section#faq .faq {
        flex-basis:100%
    }

    section#faq .faq-footer {
        margin-bottom: .5rem
    }
}

section#faq-pricing {
    padding-top: 3rem;
    padding-bottom: 1rem
}

section#faq-pricing .faq-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

section#faq-pricing .faq {
    flex-basis: 47%;
    margin-bottom: 2.5rem
}

article.portfolio.archive h3,section#faq-pricing h4 {
    margin-bottom: .5rem
}

section#faq .faq p,section#faq-pricing p {
    margin-top: 0;
    font-size: .9em
}

@media screen and (max-width: 959px) {
    section#faq-pricing {
        padding-top:2rem;
        padding-bottom: 0
    }

    section#faq-pricing .faq {
        flex-basis: 100%
    }
}

section#price-compare {
    padding-top: 1rem;
    padding-bottom: 2rem
}

section#price-compare table {
    width: 100%
}

section#price-compare tr>:nth-child(3) {
    background-color: lightgray;
}

section#price-compare thead tr>:nth-child(3) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

section#price-compare tr>:nth-child(2),section#price-compare tr>:nth-child(3),section#price-compare tr>:nth-child(4) {
    text-align: center;
    width: 200px
}

section#price-compare thead th {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff
}

section#price-compare thead tr th {
    padding-top: 1.5rem;
    padding-bottom: .5rem
}

section#price-compare thead tr th:first-child {
    text-align: left
}

section#price-compare tbody tr td {
    padding: .5rem
}

section#price-compare tbody tr:hover:not(.header-row) td {
    background-color: var(--text-primary-light);
}

section#price-compare tbody tr:hover:not(.header) td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

section#price-compare tbody tr:hover:not(.header) td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

section#price-compare tr.header th:first-child {
    border-bottom: 1px solid #d1d7e1;
    font-weight: 700;
    text-align: left;
    padding: 2rem .5rem .5rem;
    color: #252f42
}

section#price-compare tbody>tr:first-child th:first-child {
    padding-top: .5rem
}

section#price-compare tfoot tr td {
    padding-top: 1rem;
    padding-bottom: 1rem
}

section#price-compare tfoot tr>:nth-child(3) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

section#price-compare thead .queue-svg-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-bottom: .25rem
}

section#price-compare .queue-icon-checkmark,section#price-compare .price {
    color: var(--text-primary)
}

section#price-compare tbody .queue-svg-icon {
    font-size: 1.4em;
    background-color: var(--text-primary)
}

section#price-compare strong.highlight,section#plans strong.highlight {
    color: var(--text-primary-light);
    -webkit-filter: brightness(85%);
    filter: brightness(85%)
}

section#price-compare .disclaimers {
    margin-top: 2rem;
    font-size: .8em;
    color: #919191
}

@media screen and (max-width: 1099px) {
    section#price-compare tr>:nth-child(2),section#price-compare tr>:nth-child(3),section#price-compare tr>:nth-child(4) {
        width:150px
    }
}

@media screen and (max-width: 959px) {
    section#price-compare tbody tr td {
        font-size:.9em
    }

    section#price-compare tr>:nth-child(2),section#price-compare tr>:nth-child(3),section#price-compare tr>:nth-child(4) {
        width: 125px
    }
}

@media screen and (max-width: 767px) {
    section#price-compare {
        padding-top:0
    }

    section#price-compare tbody tr td {
        font-size: .8em;
        line-height: 1.3em
    }

    section#price-compare tr>:nth-child(2),section#price-compare tr>:nth-child(3),section#price-compare tr>:nth-child(4) {
        width: 100px
    }

    section#price-compare thead th {
        top: 45px;
        font-size: .85em;
        line-height: 1.2em
    }

    section#price-compare thead tr th {
        padding-top: 1rem
    }

    section#price-compare .button {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
        font-size: .75em
    }

    section#price-compare tr.header th:first-child {
        font-size: .85em;
        line-height: 1.2em
    }
}

@media screen and (max-width: 599px) {
    section#price-compare tbody tr td,section#price-compare thead th {
        font-size:.6em
    }

    section#price-compare tr>:nth-child(2),section#price-compare tr>:nth-child(3),section#price-compare tr>:nth-child(4) {
        width: 60px
    }

    section#price-compare tr td:first-child,section#price-compare tr.header th:first-child {
        padding-left: 0
    }

    section#price-compare .button {
        line-height: 1em;
        padding-bottom: 10px
    }

    section#price-compare h2 {
        font-size: 1.4em
    }

    section#price-compare tfoot tr td {
        padding-bottom: .25rem
    }
}