* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
    list-style-type: none;
}
html{
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: #fff;
    background-color: black;
}
nav a {
color: white;
font-weight: bold;
text-decoration: none;
font-size: 25px;
text-decoration: underline;
}
.nav-body{
    background-image: linear-gradient(navy, gray);
}
.center{
    text-align: center;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Footer Styles */
.footer-main{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}