* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
    list-style-type: none;
}
:root{
    --text-primary: #df8327;
    --text-primary-dark: #b7691b;
    --text-primary-light: #eaae73;
}
html{
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: #fff;
    background-color: black;
}
nav a {
color: white;
font-weight: bold;
text-decoration: none;
font-size: 25px;
text-decoration: underline;
}
.nav-link{
    color:black;
}

@media (max-width: 767px) {
    .nav-item{
        width: 100%;
        text-align: center;
    }
}
.nav-link:hover{
   color: var(--text-primary);
}
.nav-phone{
    color: var(--text-primary);
    text-decoration: none;
}
.nav-phone:hover{
    color: var(--text-primary-dark);
    text-decoration: none;
}
.nav-phone-bot{

}

.btn-primary{
    background-color: var(--text-primary);
    border-color: var(--text-primary);
}
.btn-primary:hover{
    background-color: var(--text-primary-dark);
    border-color: var(--text-primary-dark);
}
.center{
    text-align: center;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Footer Styles */
.footer-main{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.footer-logo{

}

.q-flex-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.text-primary{
    color: var(--text-primary) !important;
}
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }


/* Service Page */

.service-header{
    text-align: center;
}
.service-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.service-title{
    display: flex;
    justify-content: center;
}
.service-body{
    padding-top: 2%;
}
.service-footer{
    text-align: center;
    padding-top: 2%;
}
@media (max-width: 767px) {
    .service-flex div{
        width: 100%;
        text-align: center;
    }
    .service-title{
        background-color: white;
    }
}